trajopt/build/*
trajopt/build_trajopt/*
trajopt/comanipulationpy/trajectories/*
*.pyc
*__pycache__*
*/.vscode/*
.vscode/*
trajopt/human_prob_models/scripts/csvFiles/ExperimentResults.csv
trajopt/human_prob_models/scripts/csvFiles/TestingResults.csv